@model IEnumerable<EventQueryResult>

@{
    ViewData["Title"] = "Events";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="d-flex flex-row justify-content-end">
                    <a type="button" asp-action="Create" class="btn btn-primary">
                        <span title="New Event" class="fas fa-plus"></span> New Event
                    </a>
                </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="panel-body">
            @if (Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th scope="col">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @(item.StartDate.ToShortDateString())
                                </td>
                                <td>
                                    @(item.EndDate.ToShortDateString())
                                </td>
                                <td>
                                    @(item.Title)
                                </td>
                                <td>
                                    @(item.Location)
                                </td>
                                <td>
                                    @(item.Description)
                                </td>
                                <td>
                                    <a class="btn btn-primary" title="Edit" asp-action="Edit" asp-route-id="@item.Id">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a class="btn btn-danger" title="Delete" asp-action="Delete" asp-route-id="@item.Id">
                                        <span class="fas fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No events were found for this day.</p>
            }
        </div>
    </div>
</div>